node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
/android/.gradle/noVersion/buildLogic.lock
/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/android/.gradle/buildOutputCleanup/cache.properties
/android/.gradle/8.6/checksums/checksums.lock
/android/.gradle/file-system.probe
/android/.gradle/8.6/fileHashes/fileHashes.bin
/android/.gradle/8.6/fileHashes/fileHashes.lock
/android/.gradle/8.6/dependencies-accessors/gc.properties
/android/.gradle/8.6/gc.properties
/android/.gradle/vcs-1/gc.properties
/android/.gradle/8.6/fileChanges/last-build.bin
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidGradleLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinGradleLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinPluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibs.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/sources/org/gradle/accessors/dm/LibrariesForLibs.java
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidGradleLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinGradleLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinPluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$AndroidPluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$AndroidxAppcompatLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$AndroidxLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$AndroidxTestLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$AndroidxVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$BinaryCompatibilityPluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$BinaryCompatibilityVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$BinaryPluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$BinaryVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$BundleAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$FrescoImagepipelineLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$FrescoLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$FrescoUiLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$InferLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$InferVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$JavaxAnnotationLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$JavaxAnnotationVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$JavaxLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$JavaxVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$KotlinPluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$NexusPluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$NexusVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$Okhttp3LibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$PluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$VersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$YogaLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$YogaProguardLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$YogaProguardVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs$YogaVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibs.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/sources/org/gradle/accessors/dm/LibrariesForReactAndroidLibs.java
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$AndroidPluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$AndroidxAppcompatLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$AndroidxLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$AndroidxTestLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$AndroidxVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$BinaryCompatibilityPluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$BinaryCompatibilityVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$BinaryPluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$BinaryVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$BundleAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$FrescoImagepipelineLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$FrescoLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$FrescoUiLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$InferLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$InferVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$JavaxAnnotationLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$JavaxAnnotationVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$JavaxLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$JavaxVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$KotlinPluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$NexusPluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$NexusVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$Okhttp3LibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$PluginAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$VersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$YogaLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$YogaProguardLibraryAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$YogaProguardVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock$YogaVersionAccessors.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/classes/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock.class
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/sources/org/gradle/accessors/dm/LibrariesForReactAndroidLibsInPluginsBlock.java
/android/local.properties
/android/.gradle/8.6/checksums/md5-checksums.bin
/android/.gradle/8.6/dependencies-accessors/63bfea9ebd7ffa1cdafd0ae8ce62aa3c210042bd/metadata.bin
/android/.gradle/8.6/dependencies-accessors/423f0288fa7dffe069445ffa4b72952b4629a15a/metadata.bin
/android/.gradle/8.6/fileHashes/resourceHashesCache.bin
/android/.gradle/8.6/checksums/sha1-checksums.bin
